*{margin:0;
padding:0;
box-sizing: border-box;
}

body,html{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 500px;
    flex-wrap: wrap;
}

.square{
    height: 16px;
    width: 16px;
    margin: 2px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.03);
    background-color: #1D1D1D;
   transition: 2s ease;
}

.square:hover{
    transition-duration: 0ms;
}